packages/
obj
bin
_ReSharper*/
[Tt]est[Rr]esult*
*.csproj.user
*.contentproj.user
*.[Rr]e[Ss]harper.user
*.DotSettings.user
*.suo
*.cache
*~
*.swp
*.vsp
*.coverage
*.cachefile
*.psess
*.app.ctl
*.krn.ctl
*.docstates

/Specs/*.xml
